<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Form</title>
    <link rel="stylesheet" href="../../assets/style.css">

</head>
<body> 
    <div class="login">
        <h1>Log In</h1>
        <form method="post" action="../../Controller/Donator/Login.php" enctype="">
         <label>Email</label>
         <input type="email" name="email" required><br>
         <label>Password</label>
         <input type="password" name="pass" required><br>
         <input type="submit" name="" value="Submit">

        </form>
        <p>To create an account<a href="../Donator/Signup.html">Sign Up</a>
        </p>
    </div>
</body>
</html>